<!DOCTYPE html>
<html lang="en">
<head>
<title>Confirm Reservation</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="shortcut icon" href="css/pasta.png" />
<link rel="stylesheet" type="text/css" href="css/confirmation.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="container">
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/profile"> Profile </a>
            <a href="/userForm"> Reserve </a>
            <a class="active" href="/confirmation">Last Reservation</a>
            <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
        </div>
        
        <div>
            <h1>
                Reservation Confirmation 
            </h1>
            <h2>
                Name:
            </h2>
            <h3><%= data.name %></h3>
            <h2>
                Phone #
            </h2>
            <h3><%= data.phone_num %></h3>
            <h2>
                Email:
            </h2>
            <h3><%= data.email %></h3>
            <h2>
                Date of Reservation:
            </h2>
            <h3><%= data.date %></h3>
            <h2>
                Time:
            </h2>
            <h3><%= data.time %></h3>
            <h2>
                # of Guests:
            </h2>
            <h3><%= data.num_guests %></h3>
            <h2>
                Table #
            </h2>
            <h3><%= data.table_num %></h3>
        </div>
    </div>

<footer class="footer">
    <img class="img-rounded" width="50" height="50" src="css/pasta.png">
    <center>All Rights Reserved (2021)</center>
</footer>

</body>
<!-- <script type='text/javascript'>
    var rows = <%-JSON.stringify(data)%>
</script> -->
</html>